<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('mylog - WElog')">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title th:text="${title}">Main Page</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>

  <header th:replace="fragments/common :: header(menu='my')">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Expand at sm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section class="py-5 text-center container" th:replace="fragments/common :: myInfoTopSection">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome mylog</h1>
          <p class="lead text-muted">mylog에 오신 것을 환영합니다. </p>

        </div>
      </div>
    </section>



    <div class="album py-5 bg-light">
      <div class="container">

        <div class="bg-light p-5 rounded">
          <h1>회원 정보</h1>
          <div class="my-3">
            사용자명 : <span th:text="${user.username}">username</span>
          </div>
          <div class="my-3">
            작성 글 : <span th:text="${countArticleByUser}">00</span>개
            &nbsp;&nbsp;(<a href="#" th:href="@{/my/}">모두보기</a>)<br />
            <a class="my-2 my-sm-0 mx-2 bg-danger text-white" th:href="@{/article/deleteAllArticleByUser}">
              모두 삭제
            </a>
          </div>
          <div class="my-3">
            좋아요 : <span th:text="${countLikeItByUser}">00</span>개
            &nbsp;&nbsp;(<a href="#" th:href="@{/my/like}">모두보기</a>)<br />
          </div>
          <div class="my-3">
            댓글 : <span th:text="${user.comments.size}">00</span>개
            &nbsp;&nbsp;(<a href="#" th:href="@{/my/comment}">모두보기</a>)<br />
            <!-- 
              <a class="my-2 my-sm-0 mx-2 bg-danger text-white" th:href="@{/comment/deleteAllCommentByUser}">
                모두 삭제
              </a>
            -->
          </div>

          <div class="my-3">
            계정 상태 : <span th:text="${user.enabled} ?'활성':'비활성'">active</span><br />
            <form name="activeUser" th:action="@{/account/inactiveUser}" th:object="${user}" method="post">
              <input type="hidden" th:field="*{id}" th:value="*{id}" />
              <input type="hidden" th:field="*{username}" th:value="*{username}" />
              <input type="hidden" th:field="*{enabled}" th:value="*{enabled}" />

              <a class="my-2 my-sm-0 mx-2 bg-danger text-white" href="#" th:onclick="document.activeUser.submit()"
                th:text="${user.enabled} ? '계정 정지':'계정 활성화'">account stop</a>&nbsp;(현재 접속은 유지 되지만, 재접속시 로그인이 거부됩니다.)
            </form>
          </div>
          <div class="my-3">
            탈퇴
            <form name="leaveUser" th:action="@{/account/leaveUser}" th:object="${user}" method="post">
              <input type="hidden" th:field="*{id}" th:value="*{id}" />
              <input type="hidden" th:field="*{username}" th:value="*{username}" />

              <a class="my-2 my-sm-0 mx-2 bg-danger text-white" href="#" th:onclick="document.leaveUser.submit()"
                th:text="'탈퇴하기'">leave</a>&nbsp;(탈퇴시 작성한 모든 글은 삭제됩니다.)
            </form>
          </div>

        </div>
      </div>
  </main>

  <footer class="text-muted py-5" th:replace="fragments/common :: footer">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="/docs/5.1/getting-started/introduction/">getting started guide</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
  </footer>
</body>

</html>