<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판 - 폼')">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title th:text="${title}">Main Page</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>

  <header th:replace="fragments/common :: header(menu='article')">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Expand at sm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="album py-5 bg-light">
      <div class="container">
        <div>

          <h2>새로운 글 작성</h2>
          <form action="#" th:action="@{/article/form}" th:object="${article}" method="POST">
            <input type="hidden" th:field="*{id}" />
            <!-- 수정시 사용자 확인 위해 user.username, createdDate 전송 -->
            <input type="hidden" th:field="*{user.username}" />
            <input type="hidden" th:field="*{createdDate}" />
            <input type="hidden" th:field="*{likehit}" th:value="${article.likehit}" />
            <input type="hidden" th:field="*{updatedDate}" th:value="${article.updatedDate}" />
            <div class="mb-3">
              <label for="formGroupSubjectInput" class="form-label" hidden>제목</label>
              <input type="text" class="form-control" id="formGroupSubjectInput" th:field="*{subject}"
                th:value="${article.subject}" th:classappend="${#fields.hasErrors('subject')} ? 'is-invalid'" />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">제목 에러 메시지
              </div>

            </div>
            <div class="mb-3">
              <label for="formGroupContentTextarea" class="form-label" hidden>본문</label>
              <textarea class="form-control" id="formGroupContentTextarea" style="height: 400px" th:field="*{content}"
                th:text="${article.content}" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">내용 에러 메시지
              </div>

            </div>
            <div class="d-grid gap-2 d-md-block text-center">
              <button class="btn btn-primary me-md-2" type="submit" ref="#" th:text="완료">submit</button>
              <a class="btn btn-primary" type="button" th:text="목록" onclick="history.back()">list</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted py-5" th:replace="fragments/common :: footer">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="/docs/5.1/getting-started/introduction/">getting started guide</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
  </footer>
</body>

</html>