<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('게시판 - 폼')">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title th:text="${title}">Main Page</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>

  <header th:replace="fragments/common :: header(menu='article')">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Expand at sm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="album py-5 bg-light">
      <div class="container">
        <div>

          <!-- 페이징 적용 후 총 건수 적용-->
          <!-- <h2>아티클</h2> -->
          <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="mb-3">
              <div class="mb-1">
                <span class="fs-5" th:text="${article.subject}">
                  제목
                </span>
              </div>
              <div class="mb-1 text-black-50">
                <span th:text="${article.user.username}">
                  작성자
                </span>
                <span th:text="${article.created_date}">
                  날짜
                </span>
              </div>
            </div>
            <hr>
            <div class="mb-3">
              <pre class="fs-6" th:text="${article.content}">
                내용
              </pre>
            </div>
          </div>

          <!-- Button -->
          <div class="d-grid gap-2 d-md-block text-center">
            <!-- 작성자와 로그인 사용자가 같은 경우에만 수정과 삭제 버튼 노출 -->
            <button class="btn btn-primary me-md-2" type="button" th:href="@{/article/form(id=${article.id})}"
              th:onclick="|location.href='@{/article/form(id=${article.id})}'|" th:text="수정"
              th:if="${#authentication.name == article.user.username}">modify</button>
            <!-- DELETE REST 사용시 -->
            <!-- <a class="btn btn-primary me-md-2" type="button" th:onclick="|deleteArticleJquery(*{article.id})|" th:text="삭제">delete</a> -->
            <a class="btn btn-primary me-md-2" type="button" th:onclick="|deleteArticle(*{article.id})|" th:text="삭제"
              th:if="${#authentication.name == article.user.username}">delete</a>
            <a class="btn btn-primary" type="button" th:text="목록" onclick="history.back()">list</a>
          </div>

        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted py-5" th:replace="fragments/common :: footer">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="/docs/5.1/getting-started/introduction/">getting started guide</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
  </footer>
  <!-- 현재 페이지에만 적용 될 스크립트 -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script th:inline="javascript">
    function deleteArticle(id) {
      let currentUsername = [[${ currentUsername }]];
      let articleUsername = [[${ article.user.username }]];
      let articleId = [[${ article.id }]];

      if (currentUsername == articleUsername)
        location.href = "/article/delete?id=" + id;
      else
        alert("본인의 게시물만 삭제 가능합니다.")
    }

    function deleteArticleJquery(id) {
      // DELETE /board/delete/id
      // using jquery
      $.ajax({
        url: '/api/article/' + id,
        type: 'DELETE',
        success: function (result) {
          console.log('result : ' + result);
          alert(id + '번 게시물 삭제됐습니다.');
          window.location.href = '/';
        },
      });
    }
  </script>
</body>

</html>