<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="../css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="../css/starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet" />

  <title th:text="${title}">Bootstrap Starter Template</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    a:hover,
    a:visited,
    a:link,
    a:active {
      text-decoration: none;
      color: var(--bs-body-color);
    }
  </style>

</head>

<body>



  <main>


    <!-- 좋아요 순위 게시물 -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" th:fragment="likeRankingArticleList">
      <div class="col" th:each="article : ${likeArticles}">

        <div class="card shadow-sm" th:unless="${#lists.isEmpty(article.articlePictures)}">
          <!-- 이미지 파일 있을 경우 출력 -->
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
            th:each="ap : ${article.articlePictures}">
            <!-- 이미지에 마우스 올라가 있는 동안 표시되는 문구 title태그 -->
            <image x="0" y="0" width="100%" height="100%"
              th:href="${#strings.replace(ap.path,'src/main/resources/static','') + '/' + ap.filename}">
              <title th:text="${article.subject}">Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>

        <!-- 이미지 파일 없을 경우 공란 -->
        <div class="card shadow-sm" th:if="${#lists.isEmpty(article.articlePictures)}">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <!-- 이미지에 마우스 올라가 있는 동안 표시되는 문구 title태그 -->
            <image x="0" y="0" width="100%" height="100%" th:href="${defaultMainImg}">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail-blank</text>
          </svg>
        </div>

        <!-- 좋아요 세부 게시물 -->
        <div class="card-body card">
          <!-- <div class="card-title" style="height: 10px; overflow: hidden;"> -->
          <div class="card-title">
            <a class="fw-bold" href="#" th:text="${article.subject}"
              th:href="@{/article/view(id=${article.id})}">subject</a>
            <hr />
          </div>
          <div class="mb-3" style="height: 100px; overflow: hidden;">
            <a href="#" th:href="@{/article/view(id=${article.id})}">
                <span class=" card-text"><pre th:text="${article.content}">This is content</pre></span>
            </a>
          </div>
          <div class="d-flex justify-content-between">
            <small class="text-muted" th:text="${article.createdDate}">9 mins</small>
            <small class="text-muted">
              <span th:text="${article.comments.size}">00</span><span>&nbsp;comments</span>
            </small>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted"
              th:text="${article.user.username} == null ? 'true' : ${article.user.username}">name</small>
            <small class="text-danger align-bottom">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-suit-heart-fill align-bottom " viewBox="0 0 16 16">
                <path
                  d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z">
                </path>
              </svg>
              <!-- <span th:text="${#lists.size(article.likeUsers)}"> -->
              <span th:text="${article.likehit}">
                10
              </span>
            </small>
          </div>
        </div>
      </div>
    </div>


    <!-- 게시물 -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" th:fragment="articleList">
      <div class="col" th:each="article : ${articles}">
        <div class="card shadow-sm" th:unless="${#lists.isEmpty(article.articlePictures)}">
          <!-- 이미지 파일 있을 경우 출력 -->
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
            th:each="ap : ${article.articlePictures}">
            <!-- 이미지에 마우스 올라가 있는 동안 표시되는 문구 title태그 -->
            <image x="0" y="0" width="100%" height="100%"
              th:href="${#strings.replace(ap.path,'src/main/resources/static','') + '/' + ap.filename}">
              <title th:text="${article.subject}">Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
          </svg>
        </div>

        <!-- 이미지 파일 없을 경우 공란 -->
        <div class="card shadow-sm" th:if="${#lists.isEmpty(article.articlePictures)}">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <!-- 이미지에 마우스 올라가 있는 동안 표시되는 문구 title태그 -->
            <image x="0" y="0" width="100%" height="100%" th:href="${defaultMainImg}">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
          </svg>
        </div>

        <!--  전체 세부 게시물 -->
        <div class="card-body card">
          <div class="card-title">
            <a class="fw-bold" href="#" th:text="${article.subject}"
              th:href="@{/article/view(id=${article.id})}">subject</a>
            <hr />
            <div class="mb-3" style="height: 100px; overflow: hidden;">
              <a href="#" th:href="@{/article/view(id=${article.id})}">
                <span class=" card-text"><pre th:text="${article.content}">This is content</pre></span>
              </a>
            </div>

            <div class="d-flex justify-content-between">
              <small class="text-muted" th:text="${article.createdDate}">9 mins</small>
              <small class="text-muted">
                <span th:text="${article.comments.size}">00</span><span>&nbsp;comments</span>
              </small>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"
                th:text="${article.user.username} == null ? 'true' : ${article.user.username}">name</small>
              <small class="text-danger align-bottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-suit-heart-fill align-bottom " viewBox="0 0 16 16">
                  <path
                    d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z">
                  </path>
                </svg>
                <span th:text="${article.likehit}">
                  10
                </span>
              </small>
            </div>
          </div>
        </div>
      </div>


      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          </div>
        </div>
      </div>
  </main>


</body>

</html>