<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="../css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="../css/starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet" />

  <title th:text="${title}">Bootstrap Starter Template</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>

  <!-- fragments/common :: header(menu='home')  -->
  <header id="commonHeaderNavSticky" th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">WElog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#" th:classappend="${menu}=='home'? 'active'"
                th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:classappend="${menu}=='article'? 'active'"
                th:href="@{/article/list}">Article</a>
            </li>
            <li class="nav-item">
              <span class="sr-only" th:text="${menu}">(current)</span></a>
            </li>
            <!--
            메뉴 비활성화  
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown03">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            -->
          </ul>
          <!-- search (subject, content)  -->
          <form th:action="@{/article/list}">
            <input class="form-control" type="text" name="searchText" placeholder="Search" aria-label="Search">
          </form>
          <!-- authentication -->
          <a class="btn btn-secondary my-2 my-sm-0 mx-2" th:href="@{/account/login}"
            sec:authorize="!isAuthenticated()">로그인</a>
          <a class="btn btn-secondary my-2 my-sm-0 mx-2" th:href="@{/account/register}"
            sec:authorize="!isAuthenticated()">회원가입</a>
          <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
            <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" /> -->
            <span class="text-white mx-2" sec:authentication="name">사용자</span>
            <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
            <button class="btn btn-secondary my-2 my-sm-0 mx-2" type="submit">로그아웃</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section class="py-5 text-center container" th:fragment="topSection">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome WElog</h1>
          <p class="lead text-muted">WElog에 오신 것을 환영합니다. </p>

        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted py-5" th:fragment="footer">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">WElog &copy; suinautant@gmail.com </p>
      <p class="mb-0">Source code? <a href="https://github.com/suinautant/welog">Visit the github</a></p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </footer>
</body>

</html>